.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    height: 100vh;
    color: white;


    .inner-container {
        border: 2px solid skyblue;
        height: 400px;
        width: 450px;
        margin-top: 3.5rem;
        margin-left: 9rem;
        border-radius: 10px;
        box-shadow:
            0 0 2px #fff,
            inset 0 0 2px #fff,
            0 0 5px #08f,
            0 0 15px #08f,
            0 0 30px #08f;
        background-color: #002D62;
    }


    .login-box {
        margin-top: 2rem;

        .title {
            font-size: 30px;
            font-weight: 700;
            background: rgb(57, 100, 255);
            background: linear-gradient(180deg, rgba(57, 100, 255, 1) 1%, rgba(195, 225, 251, 1) 67%, rgba(217, 204, 255, 1) 100%);
            display: inline-block;
            color: transparent;
            background-clip: text;

        }

        .subTitle {
            font-size: 18px;
        }

        .loginForm {
            display: flex;
            flex-direction: column;
            padding: 16px;
            gap: 20px;

            input {
                padding: 8px;
                border: 2px solid lightyellow;
                border-radius: 10px;
                width: 90%;
                margin: auto;
            }

            .buttonContainer {
                display: flex;
                align-items: center;
                justify-content: center;


                button {
                    background: rgb(57, 100, 255);
                    background: linear-gradient(180deg, rgba(57, 100, 255, 1) 1%, rgba(195, 225, 251, 1) 67%, rgba(217, 204, 255, 1) 100%);
                    padding: 8px;
                    width: 50%;
                    border-radius: 10px;
                    margin-top: 20px;
                    border: none;

                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }

        p {
            margin-top: 24px;
            font-size: 14px;

            a{
                cursor: pointer;
            }
        }
    }
}